.loginForm {
  margin-left: 70px;
  margin-top: 100px;
}

.loginForm h5 {
  margin-bottom: 20px;
}

.loginForm div:nth-child(2) {
  margin-top: 16px;
}

.loginForm h6 {
  font-weight: bold;
  color: var(--black);
  line-height: 22px;
}

.forgotPassword {
  text-align: end;
  margin-top: 8px;
  margin-bottom: 24px;
}

.haveAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.haveAccount h6:last-child {
  color: var(--yellow);
  margin-left: 5px;
}
