.registerForm {
  margin-left: 70px;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .registerForm {
    margin: 0;
  }
}

.registerForm h5 {
  margin-bottom: 4px;
}

.registerForm label {
  margin-top: 16px;
}

.registerForm h6 {
  font-weight: bold;
  color: var(--black);
  line-height: 22px;
}

.registerForm button {
  margin-top: 40px;
}

.haveAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.haveAccount h6:last-child {
  color: var(--yellow);
  margin-left: 5px;
  text-decoration: none;
}
