.main {
  padding-inline: 150px;
  padding-block: 110px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 110px;
}

.content > div:first-child {
  width: 490px;
  margin-right: 25px;
}

.content > div:first-child > div:first-child {
  margin-bottom: 20px;
}

.content > div:first-child > div:nth-child(2) {
  margin-bottom: 55px;
}

.content-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 110px;
}

.text-content-right {
  padding-left: 65px;
}

.text-content-right > div:nth-child(2) {
  margin-top: 32px;
}

.text-content-left {
  padding-right: 65px;
}

.text-content-left > div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 30px;
}

.checklist-right {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.checklist-left {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
}

.checklistWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 28px;
}

.checklistWrapper > div:first-child {
  margin-right: 22px;
}

.headerText {
  text-align: center;
  padding-block: 52px;
}

.banner {
  height: 227px;
  background: var(--primary-color);
  border-radius: 40px 8px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 175px;
}

.banner img {
  height: 227px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.bannerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-inline: 68px;
}

.bannerContent > div:first-child {
  width: 293px;
}
