.navigationWrapper {
  height: 6.25rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 9.375rem;
  position: sticky;
  transition: 0.4s ease-out;
  top: 0;
  z-index: 999;
}

.navigationWrapperActive {
  height: 6.25rem;
  /* transition: 0.4s ease-in-out; */
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 9.375rem;
  transform: background-color 2s;
  position: sticky;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 999;
}

.image > img {
  width: 7.938rem;
  height: 2.188rem;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
}

.buttonWrapper > div:first-child {
  margin-right: 1rem;
}
.btnActive > button {
  border: 2px solid var(--white-color);
}

.btnActive > button:focus,
.btnActive > button:active {
  border: 2px solid var(--white-color);
}
