.navigationWrapper {
  height: 6.25rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 9.375rem;
}

.navigationWrapper > div:first-child > img {
  width: 7.938rem;
  height: 2.188rem;
}

.navigationWrapper > div:last-child {
  display: flex;
  flex-direction: row;
}

.navigationWrapper > div:last-child > div:first-child > button {
  margin-right: 1rem;
}
