@font-face {
  font-family: "Open-sans";
  src: local("Open-sans"),
    url("./assets/font/open-sans.light.ttf") format("truetype");
}

@font-face {
  font-family: "Open-sans-regural";
  src: local("Open-sans-regural"),
    url("./assets/font/OpenSans-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open-sans";
}

h1 {
  font-family: "Open-sans";
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 70px;
}

h5 {
  color: var(--grey-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

h6 {
  color: var(--grey-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

:root {
  --font-family: "Open-sans";
  --primary-color: #5e50a1;
  --primary-bold: #524789;
  --yellow: #fbb017;
  --black: #1f2a36;
  --grey-color: #46505c;
  --grey-color-2: #46505c;
  --grey-color-3: #9ea0a5;
  --grey-color-4: #e2e5ed;
  --white-color: #ffffff;
  --white-color-2: #f6f7f8;
}
